:root {
    --page-color: rgb(61, 61, 145);
    --page-background: white ; 
    --body--color: rgb(254, 254, 254);
    --nav-color: rgb(73, 73, 163);
    /* --font-letter: "Times New Roman", Times, serif */
}

body{background-color:var(--body--color) ;}

#webpage
{
    margin-left: 20%;
    font-family: var(--font-letter);
    background-color:var(--page-background);
    width: 1000px;
    height: auto;
}
/* CONTAINER */
#parent
{
    
    width: 70%;
    height: auto;
}

#page
{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    width: 100%;
    height: auto;
}

#right_side 
{
    width: 30%;
    height: auto;
}

#beba{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#header
{
    width: 100%;
    height: 8%;
    /* background-color: var(--nav-color); */
    margin-bottom: 2%;
    margin-top: 1%;
}

#bottom
{
    background-color: var(--nav-color);
    width: 100%;
    height: 10%;
    margin-top: 2%;
}
.menu
{
    margin-top: 5%;
    background-color: var(--page-color);
    display:flex;
    justify-content: space-around;
}

.menu div
{
    height: 10%;
    padding-top: 1%;
    width: 10%;
    text-align: center;
}

.menu div a
{
    text-decoration: none;
    text-align: center;
    color:white
}

.menu div:hover
{
    background-color: var(--nav-color);
}

.images
{
    box-shadow: 5px 5px 8px rgb(77, 77, 77);
}

/* SEPARATOR */
.section_separator
{
    text-align: center;
    font-size: 150%;
    font-weight: 900;
    width: auto;
    border: 3px solid var(--page-color);
}

/* NAME */
#section_name
{
    text-align: center;
    font-size: 250%;
    font-weight: 900;
    font-style: oblique;
}

/* INFORMATION */
#section_information
{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    column-gap: 3%;
}

.information{
    width: 200px;
    text-align: left;
}

/* REVIEW */
#section_review
{
    text-align: center;
}

/* SCORES */
#section_scores
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px; 
}

.score
{
    width: 300px;
}

.feature
{
    width: 200px;
    text-align: left;
}

/* CASTING */
#section_casting
{
    display:flex;
    justify-content: space-evenly;
}

/* SCENES */
#section_scenes
{
    display:flex;
    justify-content: space-evenly;
}

.scenes
{
    display: flex;
    flex-direction: column;
    width: 25%;
}

/* QUOTES */
#section_quotes
{
    display:flex;
    justify-content: space-evenly;
    column-gap: 5%;
    flex-basis: 50%

}

.quotes
{
    text-align: center;
    font-family: var(--font-letter);
    font-size:x-large;
    font-weight: 550;
    font-style: oblique;
}

.quotes_caption
{
    text-align: center;
    font-size:medium;
    font-style:normal;
    font-weight: 300;
}

.icons
{
    height: 55%;
    width: 20%;
}

.general
{
    width: 50%;
    text-align: center;
}

.filter
{
    text-decoration: underline black;
    font-weight: bold;
}

.wrap_objects
{
    display:flex;
        justify-content: space-evenly;
        column-gap: 5%;
        row-gap: 10px;
        flex-basis: 50%;
        flex-wrap: wrap;
        flex-direction: row;
}

