{% extends "blog/header.html" %}
{% load static %}
{% block styles %}
    
    {{ block.super }}
    
{% endblock %}

{% block content %}
<div id = "webpage">
    
    {{ block.super }}

    <div id = "page">

        <div id = "right_side" style = "width: 20%;">
            <div class = "section_separator">
                FILTER
            </div>
            <br>

            <div>
                <form method = "POST" action="">{% csrf_token %}

                    <label class = "filter">A-Z:<input type = "checkbox" name = "A-Z"></label>

                    <p></p>
                    <button>Apply filter</button>
                </form>
            </div>
            
        </div>
        <div id = "parent" style = "width: 80%;">

            <div class = "section_separator">
                ACTORS
            </div>
            <br>

            <div class = "wrap_objects">
                {% for actor in actors_list %}
                    <div class = "images" style = "max-height: 85%;max-width: 10%">
                        <a href = "{% url 'ActorsDetail' actor.id %}" target = "_blank">
                            {% if actor.image %}
                                <img src="{{ actor.image.url }}" style="width: 100%; height: auto">
                            {% else %}
                                <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto">
                            {% endif %}
                        </a>
                        <figcaption style = "text-align: center;">
                            {{ actor.name }}
                        </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id = "bottom">
    </div> 
    
</div>
{% endblock %}

{% block scripts %}

{% endblock %}