{% load static %}
{% block head %}
    <link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
    <style>
    
        .actors
        {
            display:flex;
            justify-content: space-evenly;
            column-gap: 5%;
            row-gap:10%;
            flex-basis: 50%;
            flex-wrap: wrap;
            flex-direction: row;
        }
    
    </style>
{% endblock %}

{% block content %}
<div id = "webpage">
    <div id = "header">
        <div class="menu">
            <div><a href="{% url 'Home' %}">Home</a></div>
            <div><a href="{% url 'Movies' %}">Movies</a></div>
            <div><a href="{% url 'Directors' %}">Directors</a></div>
            <div><a href="{% url 'Actors' %}">Actors</a></div>
        </div>
    </div>

    <div id = "page">

        <div id = "right_side" style = "width: 20%;">
            <div class = "section_separator">
                FILTER
            </div>
            <br>
            
        </div>
        <div id = "parent" style = "width: 80%;">

            <div class = "section_separator">
                ACTORS
            </div>
            <br>

            <div class = "actors">
                {% for actor in actors_list %}
                    <div class = "images" style = "max-height: 85%;max-width: 10%">
                        <a href = "{% url 'ActorsDetail' actor.id %}" target = "_blank">
                            {% if actor.image %}
                                <img src="{{ actor.image.url }}" style="width: 100%; height: auto">
                            {% else %}
                                <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto">
                            {% endif %}

                        </a>
                        <figcaption style = "text-align: center;">
                            {{ actor.name }}
                        </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id = "bottom">
    </div> 
    
</div>
{% endblock %}

{% block scripts %}

{% endblock %}