{% load static %}
{% block head %}
    <link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
    <style>
       .menu
{
    background-color: var(--page-color);
    display:flex;
    flex-direction: row;
    height: 100%;
}

.menu div
{
    height: auto;
    width: 100%;
    text-align: center;
}

.menu div a
{
    text-decoration: none;
    text-align: center;
    color:white;
}

.menu div a div
{
    height: 100%;
}

.menu div a div:hover
{
    background-color: var(--nav-color);
}
    </style>
{% endblock %}

{% block content %}
<div id = "webpage">
    <div id = "header">
        <div class="menu">
            <div>
                <a href="{% url 'Home' %}">
                    <div>
                        Home
                    </div>
                </a>
            </div>
            <div><a href="{% url 'Movies' %}"><div>Movies</div></a></div>
            <div><a href="{% url 'Directors' %}"><div>Directors</div></a></div>
            <div><a href="{% url 'Actors' %}"><div>Actors</div></a></div>
        </div>
    </div>

    <div id = "page">

        <div id = "right_side" style = "width: 20%;">
            <div class = "section_separator">
                FILTER
            </div>
            <br>

            <div>
                <form method = "POST" action="">{% csrf_token %}

                    <label class = "filter">A-Z:<input type = "checkbox" name = "A-Z"></label>

                    <p></p>
                    <button>Apply filter</button>
                </form>
            </div>
            
        </div>
        <div id = "parent" style = "width: 80%;">

            <div class = "section_separator">
                ACTORS
            </div>
            <br>

            <div class = "wrap_objects">
                {% for actor in actors_list %}
                    <div class = "images" style = "max-height: 85%;max-width: 10%">
                        <a href = "{% url 'ActorsDetail' actor.id %}" target = "_blank">
                            {% if actor.image %}
                                <img src="{{ actor.image.url }}" style="width: 100%; height: auto">
                            {% else %}
                                <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto">
                            {% endif %}
                        </a>
                        <figcaption style = "text-align: center;">
                            {{ actor.name }}
                        </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id = "bottom">
    </div> 
    
</div>
{% endblock %}

{% block scripts %}

{% endblock %}