{% extends "blog/header.html" %}
{% load static %}
{% block styles %}

    {{ block.super }}

    <style>
        #parent{width: 100%;}
        textarea{resize: none;}
    </style>
    
{% endblock %}

{% block content %}

<div id = "webpage">
    
    {{ block.super }}

    <div id = "page">

        <div id = "parent">

            <div class = "section_separator">
                Contact
            </div>
            <br>
            
            <div>
                <form method = "POST">{% csrf_token %}
                    <table>
                        <tr>
                            <td>Suggest a Movie:</td>
                            <td><input name = "Movie" type = "text"></td>
                        </tr>
                        <tr>
                            <td>Suggest an Actor:</td>
                            <td><input name = "Actor" type = "text"></td>
                        </tr>
                        <tr>
                            <td>Suggest a Director:</td>
                            <td><input name = "Director" type = "text"></td>
                        </tr>
                        <tr>
                            <td>General Suggestion:</td>
                            <td><textarea name = "Suggestion" maxlength="250" rows="10" cols="30"></textarea></td>
                        </tr>
                    </table>
                    <br>
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>

    <div id = "bottom">
    </div> 
</div>

{% endblock %}
