{% extends "blog/header.html" %}
{% load static %}
{% block styles %}
    
    {{ block.super }}
    
{% endblock %}

{% block content %}
<div id = "webpage">
    
    {{ block.super }}

    <div id = "page">

        <div id = "right_side" style = "width: 20%;">
            <div class = "section_separator">
                FILTER
            </div>
            <br>

            <div>
                <form method = "POST" action="">{% csrf_token %}

                    <input name = "search" type = "text" placeholder="Search a Director">
                    <p></p>

                    <label class = "filter">A-Z:<input type = "checkbox" name = "A-Z"></label>

                    <p></p>
                    <button type = button>Clear All Filters</button>

                    <p></p>
                    <button>Apply filter</button>
                </form>
            </div>
            
        </div>
        <div id = "parent" style = "width: 80%;">

            <div class = "section_separator">
                DIRECTORS
            </div>
            <br>
        
            <div class = "wrap_objects">
                {% for director in directors_list %}
                    <div class = "images" style = "max-height: 85%;max-width: 10%">
                        <a href = "{% url 'DirectorsDetail' director.id %}">
                            <img src="{{ director.image.url }}" style="width: 100%; height: auto;" >
                        </a>
                        <figcaption style = "text-align: center;">
                        {{ director.name }}
                        </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id = "bottom">
    </div> 
    
</div>

{% endblock %}

{% block scripts %}

<script src = "{% static 'blog/js/jquery.js' %}"></script>

{{ applied_filters|json_script:'applied_filters' }}
{{ searched|json_script:'searched' }}

<script type="text/javascript">

    var applied_filters = jQuery.parseJSON($("#applied_filters").text())
    var searched = jQuery.parseJSON($("#searched").text())
    var inputs = $("input");

    console.log(searched)

    console.log(applied_filters)

    for (input of inputs)
    {
        for (filter of applied_filters)
        {
            if (input.name == filter)
            {
                if (input.name == 'search'){
                    $(input).val(searched.join(' '))
                }
                console.log(input.name)
                $(input).prop("checked",true)
            }
        }
    }

    $("button[type=button]").click(function(event){
        inputs.map((index,input) => $(input).prop("checked",false))
    })

    $("input[name=search]").change(function(event){
        console.log(this.value)
        this.form.submit()
    })

</script>
{% endblock %}