{% extends "blog/header.html" %}
{% load static %}
{% block styles %}
    
    {{ block.super }}

    <style>

        a{ text-decoration: none;color :black}

        td
        {
            border-top: 1px solid black;
            text-align: center;
            
        }
        td:hover
        {
            background-color: var(--nav-color);
            color: white;
        }

        td a:hover
        {
            background-color: var(--nav-color);
            color: white;
        }

        thead th
        {
            background-color: var(--page-color);
            color: white;
        }

        table { border-spacing:0 }

        #section_information
        {
            display: grid;
            grid-template-columns: 70% 30%;
            column-gap: 3%;
        }
        #right_side {width: 40%;}
        #parent {width: 100%;}
        .movies
        {
            display:flex;
            justify-content: space-evenly;
            column-gap: 5%;
            row-gap: 20px;
            flex-basis: 50%;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 5%;
        }   
    </style>
{% endblock %}

{% block content %}

<div id = "webpage">
    
    <nav class="navbar navbar-expand-lg navbar-light" id = "header">
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Home' %}">
                <button type="button" class="btn btn-light position-relative">
                    Home
                </button>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Movies' %}">
                <button type="button" class="btn btn-light position-relative">
                    Movies
                </button>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Directors' %}">
                    <button type="button" class="btn btn-primary position-relative">
                        Directors
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section_name">
                    <button type="button" class="btn btn-secondary position-relative">
                        {{ director.name }}
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Actors' %}">
                    <button type="button" class="btn btn-light position-relative">
                        Actors
                    </button>
                </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <button type="button" class="btn btn-dark position-relative">
                    Account
                </button>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                {% if user.username != "" %}
                    <li><a class="dropdown-item" href="{% url 'Profile' %}">{{ user.username }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'Register' %}">Register</a></li>
                    <li><a class="dropdown-item" href="{% url 'Login' %}">Login</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Suggest' %}">
                    <button type="button" class="btn btn-warning position-relative">
                        Suggest
                    </button>
                </a>
            </li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
    </nav>

    <div id = "section_name">
        {{ director.name }}
    </div>
    <br>

    <div id = "page">

        <div id = "right_side">
            <div class = "section_separator">
                MOVIES
            </div>
            
            <div class = "movies">
                {% for movie in director.movie_set.all %}
                    <div class = "images" style = "width: 30%;height: auto;">
                        <a href = "{% url 'MoviesDetail' movie.id %}" target = "_blank">
                            <img src="{{ movie.image.url }}" style="width: 100%; height: auto"> 
                        </a>
                        <figcaption style = "text-align: center;"> {{ movie.name }} </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id = "parent">

            <div class = "section_separator">
                INFORMATION
            </div>
            <br>
        
            <div id = "section_information">

                <div style = "display: flex;align-items: center;">
                    {{ director.review }}
                </div>

                <div class = "images" style = "width: 70%;height: auto">
                    <img src="{{ director.image.url }}" style="width: 100%;height:auto">
                    <figcaption style = "text-align: center;"> {{ director.name }} </figcaption>
                </div>
            </div>
            <br>

            <div class = "section_separator">
                STATISTICS
            </div>
            <br>
            
            <div>
                <table class = "table" style = "width: 100%">
                    <thead>
                        <form method = "POST">{% csrf_token %}
                            <th style = "text-align: center;">Year<input name = "Year" type = "checkbox"></th>
                            <th style = "text-align: center;">Movies<input name = "Movie" type = "checkbox"></th>
                            <th style = "text-align: center;">Our Score<input name = "Our_score" type = "checkbox"></th>
                            <th style = "text-align: center;">Rotten Tomatoes<input name = "Rotten" type = "checkbox"></th>
                            <th style = "text-align: center;">Imdb<input name = "imdb" type = "checkbox"></th>
                        </form>
                    </thead>
                    <tbody>
                        {% for movie in movie_list %}
                            <tr>
                                <td>{{ movie.only_year }}</td>
                                <td><a href = "{% url 'MoviesDetail' movie.id %}">{{ movie.name }}</a></td>
                                <td>{{ movie.final_score }}</td>
                                <td>{{ movie.rotten_tomatoes }}</td>
                                <td>{{ movie.imdb }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div id = "bottom">
       
    </div> 
</div>


{% endblock %}

{% block scripts %}

{{ applied_filters|json_script:'applied_filters' }}
<script src = "{% static 'blog/js/jquery.js' %}"></script>
<script>
   
    var applied_filters = jQuery.parseJSON($("#applied_filters").text())
    var inputs = $("input");

    console.log(applied_filters)

    for (input of inputs)
    {
        for (filter of applied_filters)
        {
            if (input.name == filter)
            {
                console.log(input.name)
                $(input).prop("checked",true)
            }else{
                $(input).css("display","None")
            }
        }
    }

    for (input of inputs)
    {
        $(input).change(function(){
            console.log(this.name)
            this.form.submit()
        })
    } 
    
</script>

{% endblock %}