{% load static %}
{% block styles %}
<link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
<style>
    .menu
    {
        background-color: var(--page-color);
        display:flex;
        flex-direction: row;
        height: 100%;
    }

    .menu div
    {
        height: auto;
        width: 100%;
        text-align: center;
    }

    .menu div a
    {
        text-decoration: none;
        text-align: center;
        color:white;
    }

    .menu div a div
    {
        height: 100%;
    }

    .menu div a div:hover
    {
        background-color: var(--nav-color);
    }

    .register-content {
        display: none;
        background-color: black !important;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
        color:white
    }

    .register{
        background-color:black !important;
    }

    .register:hover .register-content {
    display: block;
    }

    .register:hover a div{
        background-color: black !important;
    }

    .register-content div:hover{
        background-color: var(--page-color);
    }

    .home{
        background-color: rgb(107, 27, 27) !important;
    }
    .home:hover a div{
        background-color: rgb(107, 27, 27) !important;
    }

    .contact{
        background-color: rgb(88, 88, 22) !important
    }

    .contact:hover a div{
        background-color: rgb(88, 88, 22) !important
    }

</style>
{% endblock %}

{% block content %}
<div id = "header">
    <div class="menu">
        <div class = "home"><a href="{% url 'Home' %}"><div>Home</div></a></div>
        <div><a href="{% url 'Movies' %}"><div>Movies</div></a></div>
        <div><a href="{% url 'Directors' %}"><div>Directors</div></a></div>
        <div><a href="{% url 'Actors' %}"><div>Actors</div></a></div>
        <div class = "register">
            <a><div>Account</div></a>
            <div class = "register-content">
                <div><a href="{% url 'Register' %}">Create Account</a></div>
                <div><a href="{% url 'Login' %}">Login</a></div>
            </div>
        </div>
        <div class = "contact"><a href="{% url 'Contact' %}"><div>Contact</div></a></div>
    </div>
</div> 
{% endblock %}