
{% load static %}
{% block head %}
<link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
<style>

    .directors
    {
        display:flex;
        justify-content: space-evenly;
        column-gap: 5%;
        row-gap:10%;
        flex-basis: 50%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .movies
    {
        display:flex;
        justify-content: space-evenly;
        column-gap: 5%;
        row-gap: 20px;
        flex-basis: 50%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 10%;
    }
    #parent{width: 100%;}
</style>
{% endblock %}

{% block content %}

<div id = "webpage">
    <div id = "header">
        <div class="menu">
            <div><a href="{% url 'Home' %}">Home</a></div>
            <div><a href="{% url 'Movies' %}">Movies</a></div>
            <div><a href="{% url 'Directors' %}">Directors</a></div>
            <div><a href="{% url 'Actors' %}">Actors</a></div>
        </div>
    </div> 

    <div id = "page">

        <div id = "parent">

            <div class = "section_separator">
                INFORMATION
            </div>
            <br>

        </div>

    </div>

    <div id = "bottom">
    </div> 
</div>

{% endblock %}

{% block scripts %}

{% endblock %}