
{% load static %}
{% block head %}
<link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
<style>

    .directors
    {
        display:flex;
        justify-content: space-evenly;
        column-gap: 5%;
        row-gap:10%;
        flex-basis: 50%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .movies
    {
        display:flex;
        justify-content: space-evenly;
        column-gap: 5%;
        row-gap: 20px;
        flex-basis: 50%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 10%;
    }
</style>
{% endblock %}

{% block content %}

<div id = "webpage">
    <div id = "header">
        <div class="menu">
            <div><a href="{% url 'Home' %}">Home</a></div>
            <div><a href="{% url 'Movies' %}">Movies</a></div>
            <div><a href="{% url 'Directors' %}">Directors</a></div>
            <div><a href="{% url 'Actors' %}">Actors</a></div>
        </div>
    </div> 

    <div id = "page">

        <div id = "right_side">

            <div class = "section_separator">
                RELATED FILMS
            </div>
    
            <div class = "movies">
                <div class = "images" style = "width: 30%;height: auto;">
                    <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto"> 
                    <figcaption style = "text-align: center;"> fgsdfgdf </figcaption>
                </div>
                <div class = "images" style = "width: 30%;height: auto;">
                    <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto"> 
                    <figcaption style = "text-align: center;"> fgsdfgdf </figcaption>
                </div>
                <div class = "images" style = "width: 30%;height: auto;">
                    <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto"> 
                    <figcaption style = "text-align: center;"> fgsdfgdf </figcaption>
                </div>
                <div class = "images" style = "width: 30%;height: auto;">
                    <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto"> 
                    <figcaption style = "text-align: center;"> fgsdfgdf </figcaption>
                </div>
            </div>
        </div>

        <div id = "parent">

            <div id = "section_name">
                {{ director.name }}
            </div>
            <br>

            <div class = "section_separator">
                INFORMATION
            </div>
            <br>
        
            <div id = "section_information">

                <div style = "display: flex;align-items: center;">
                    {{ director.review }}
                </div>

                <div class = "images" style = "width: 70%;height: auto">
                    {% if director.image %}
                        <img src="{{ director.image.url }}" style="width: 100%;height:auto">
                    {% else %}
                        <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto">
                    {% endif %}
                    <figcaption style = "text-align: center;"> {{ director.name }} </figcaption>
                </div>
            </div>
            <br>

        </div>

    </div>

    <div id = "bottom">
        bottom
    </div> 
</div>

{% endblock %}

{% block scripts %}

{% endblock %}