{% extends "blog/header.html" %}
{% load static %}
{% block styles %}

    {{ block.super }}

    <style>
        #parent{width: 100%;}
    </style>
    
{% endblock %}

{% block content %}

<div id = "webpage">
    
    {{ block.super }}

    <div id = "page">

        <div id = "parent">

            <div class = "section_separator">
                LOGIN
            </div>
            <br>

            <div>
                <form method = "POST">{% csrf_token %}
                    <table>
                        <tr>
                            <td>User</td>
                            <td><input name = "user" type = "text"></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input name = "password" type ="password"></td>
                        </tr>
                    </table>

                    <br>
                    <button>Login</button>
                </form>
            </div>

        </div>
    </div>

    <div id = "bottom">
    </div> 
</div>

{% endblock %}
