{% load static %}
{% block head %}

<link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
<style>

    .movies
    {
        display:flex;
        justify-content: space-evenly;
        column-gap: 5%;
        row-gap:10%;
        flex-basis: 50%;
        flex-wrap: wrap;
        flex-direction: row;
    }

</style>

{% endblock %}

{% block content %}

<div id = "parent">

    <div class="menu">
        <div><a href="{% url 'Home' %}">Home</a></div>
        <div><a href="{% url 'Movies' %}">Movies</a></div>
        <div><a href="{% url 'Directors' %}">Directors</a></div>
        <div><a href="{% url 'Actors' %}">Actors</a></div>
    </div>
    <br>

    <div class = "section_separator">
        MOVIES
    </div>
    <br>
  
    <div class = "movies">
        {% for movie in movies_list %}
            <div class = "images" style = "width: 21%;height: 270px;">
                <a href = "{% url 'MoviesDetail' movie.id %}" target="_blank">
                    <img src="{{ movie.image.url }}" style="width: 100%; height: 100%;" >
                </a>
                <figcaption style = "text-align: center;">
                    {{ movie.name }}
                </figcaption>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}