{% load static %}
{% block head %}

<link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
<style>
</style>

{% endblock %}

{% block content %}

<div id = "webpage">
    <div id = "header">
        <div class="menu">
            <div><a href="{% url 'Home' %}">Home</a></div>
            <div><a href="{% url 'Movies' %}">Movies</a></div>
            <div><a href="{% url 'Directors' %}">Directors</a></div>
            <div><a href="{% url 'Actors' %}">Actors</a></div>
        </div>
    </div>

    <div id = "page">

        <div id = "right_side" style = "width: 20%;">
            <div class = "section_separator">
                FILTER
            </div>
            <br>     
            
            <div>
                
                <form method = "POST" action="">{% csrf_token %}
                    
                    <label class = "filter">By Genre:</label>
                    <br>

                    {% for genre in genres %}
                        <label for = "{{ genre.name }}"><input name = "{{ genre.name }}" type = "checkbox" value = "{{ genre.id }}">{{ genre.name }}</label><br>
                    {% endfor %}

                    <!-- <label class = "filter">Exact Matching: <input type = "checkbox"></label>
 
                    <p></p>
                    <label class = "filter">By Release Date:<input type = checkbox></label> 

                    <p></p>

                    <label class = "filter">By Review Date:<input type = "checkbox"></label>

                    <p></p>

                    <label class = "filter">Z-A:<input type = "checkbox"></label> -->

                    <p></p>
                    <input type = "submit">
                </form>
            </div>
        </div>

        <div id = "parent" style = "width: 80%;">
        
            <div class = "section_separator">
                MOVIES
            </div>
            <br>
          
            <div class = "wrap_objects">
                {% for movie in movies_list %}
                    <div class = "images" style = "max-height: 45%;max-width: 10%">
                        <a href = "{% url 'MoviesDetail' movie.id %}" target="_blank">
                            <img src="{{ movie.image.url }}" style="width: 100%; height: 100%;" >
                        </a>
                        <figcaption style = "text-align: center;">
                            {{ movie.name }}
                        </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div id = "bottom">
        
    </div> 
</div>

{% endblock %}

{% block scripts %}

<script src = "{% static 'blog/js/jquery.js' %}"></script>

<script>

    load_posts()

    // Load all posts on page load
    function load_posts() { 
        $.ajax({
            url : "/blog/api/v1/movie", // the endpoint
            type : "GET", // http method
            // handle a successful response
            success : function(json) {
                for (var i = 0; i < json.length; i++) {
                    console.log(json[i])
                }
            },
        });
    };
</script>
{% endblock %}