{% load static %}
{% block head %}

<link href = "{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
<style>
    .menu
{
    background-color: var(--page-color);
    display:flex;
    flex-direction: row;
    height: 100%;
}

.menu div
{
    height: auto;
    width: 100%;
    text-align: center;
}

.menu div a
{
    text-decoration: none;
    text-align: center;
    color:white;
}

.menu div a div
{
    height: 100%;
}

.menu div a div:hover
{
    background-color: var(--nav-color);
}
</style>

{% endblock %}

{% block content %}

<div id = "webpage">
    <div id = "header">
        <div class="menu">
            <div>
                <a href="{% url 'Home' %}">
                    <div>
                        Home
                    </div>
                </a>
            </div>
            <div><a href="{% url 'Movies' %}"><div>Movies</div></a></div>
            <div><a href="{% url 'Directors' %}"><div>Directors</div></a></div>
            <div><a href="{% url 'Actors' %}"><div>Actors</div></a></div>
        </div>
    </div>

    <div id = "page">

        <div id = "right_side" style = "width: 20%;">
            <div class = "section_separator">
                FILTER
            </div>
            <br>     
            
            <div>
                
                <form method = "POST" action="">{% csrf_token %}
                    
                    <label class = "filter">By Genre:</label>
                    <br>

                    {% for genre in genres %}
                        <label for = "{{ genre.name }}"><input name = "{{ genre.name }}" type = "checkbox">{{ genre.name }}</label><br>
                    {% endfor %}

                    <label class = "filter">Exact Matching: <input type = "checkbox" name  = "Exact Matching"></label>
 
                    <p></p>
                    <label class = "filter">By Release Date:<input type = checkbox name = "Release Date"></label> 

                    <p></p>

                    <label class = "filter">By Review Date:<input type = "checkbox" name = "Review Date"></label>

                    <p></p>

                    <label class = "filter">A-Z:<input type = "checkbox" name = "A-Z"></label>

                    <p></p>
                    <button>Apply Filter</button>
                </form>

                <p>Applied Filters: </p>
                {% for filter in applied_filters %}
                    <label>{{ filter }}</label>
                {% endfor %}
            </div>
        </div>

        <div id = "parent" style = "width: 80%;">
        
            <div class = "section_separator">
                MOVIES
            </div>
            <br>
          
            <div class = "wrap_objects">
                {% for movie in movies_list %}
                    <div class = "images" style = "max-height: 45%;max-width: 10%">
                        <a href = "{% url 'MoviesDetail' movie.id %}" target="_blank">
                            <img src="{{ movie.image.url }}" style="width: 100%; height: 100%;" >
                        </a>
                        <figcaption style = "text-align: center;">
                            {{ movie.name }}
                        </figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div id = "bottom">
        
    </div> 
</div>

{% endblock %}

{% block scripts %}

<script src = "{% static 'blog/js/jquery.js' %}"></script>

<script>
</script>
{% endblock %}