{% extends "blog/header.html" %}
{% load static %}
{% block styles %}

    {{ block.super }}
    <style>

    .movies
        {
            display:flex;
            justify-content: space-evenly;
            column-gap: 5%;
            row-gap: 20px;
            flex-basis: 50%;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 5%;
        }   
        .overlay {
  position: absolute;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  overflow: scroll;
  width: 15%;
  height: 20%;
  border: 1px solid #ccc;
}

.scenes:hover .overlay {
  opacity: 1;
}
    </style>

{% endblock %}

{% block content %}

    <div id = "webpage">

        <nav class="navbar navbar-expand-lg navbar-light" id = "header">
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home' %}">
                    <button type="button" class="btn btn-light position-relative">
                        Home
                    </button>
                </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Movies' %}">
                    <button type="button" class="btn btn-light position-relative">
                        Movies
                    </button>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Directors' %}">
                        <button type="button" class="btn btn-light position-relative">
                            Directors
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Actors' %}">
                        <button type="button" class="btn btn-light position-relative">
                            Actors
                        </button>
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    <button type="button" class="btn btn-dark position-relative">
                        Account
                    </button>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    {% if user.username != "" %}
                        <li><a class="dropdown-item" href="{% url 'Profile' %}">{{ user.username }}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'Register' %}">Register</a></li>
                        <li><a class="dropdown-item" href="{% url 'Login' %}">Login</a></li>
                    {% endif %}
                  </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Suggest' %}">
                        <button type="button" class="btn btn-warning position-relative">
                            Suggest
                        </button>
                    </a>
                </li>
              </ul>
              <!-- <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->
            </div>
        </nav>

        <div id = "section_name">
            {{ movie.name }}
        </div>
        <br>

        <div id = "page">
             
            <div id = "right_side">

                <div class = "section_separator">
                    RELATED FILMS
                </div>

                <div id = "beba">
                    {% for genre, movies in genre_dict.items %}
                        <div>
                            <br>

                            <div class = "section_separator">
                                {{ genre }}
                            </div>
                            <br>
                
                            <div class = "movies">
                                {% for movie in movies %}
                                    <div class = "images" style = "width: 30%;height: auto;">
                                        <a href = "{% url 'MoviesDetail' movie.id %}" target = "_blank">
                                            <img src="{{ movie.image.url }}" style="width: 100%; height: auto"> 
                                        </a>
                                        <figcaption style = "text-align: center;"> {{ movie.name }} </figcaption>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id = "parent">

                <div class = "section_separator">
                    INFORMATION
                </div>
                <br>
            
                <div id = "section_information">

                    <div style = "display: flex;align-items: center;"> 
                        <table style = "height: 20%;">
                            <tbody>
                                <tr>
                                    <td class = "information">Rating:</td>
                                    <td class = "information_value">{{ movie.rating.name }}</td>
                                </tr>
                                <tr>
                                    <td class = "information">Genre:</td>
                                    <td class = "information_value">
                                        {% for genre in movie.genres.all %} 
                                            <label>{{ genre }} </label>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class = "information">Language:</td>
                                    <td class = "information_value"> {{ movie.language }}</td>
                                </tr>
                                <tr>
                                    <td class = "information">Director:</td>
                                    <td class = "information_value"><a href = "{% url 'DirectorsDetail' movie.director.id %}">{{ movie.director }}</a></td>
                                </tr>
                                <tr>
                                    <td class = "information">Release Year:</td>
                                    <td class = "information_value"> {{ movie.only_year }}</td>
                                </tr>
                                <tr>
                                    <td class = "information">Runtime (minutes):</td>
                                    <td class = "information_value"> {{ movie.duration }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style = "text-align: right;">
                        {{ movie.sinopsis }}
                    </div>

                    <!-- <div class = "images" style = "width: 65%;height: auto;display: flex;align-items: center;flex-direction: column;">
                        <img src="{{ movie.image.url }}" style="width: 100%;height: auto">
                        <figcaption style = "text-align: center;"> {{ movie.name }} </figcaption>
                    </div> -->

                    <div class="card h-100">
                        <img src = "{{ movie.image.url }}" style = "max-width: 100%;max-height: 100%;">
                        <h6 class="card-title" style = "text-align: center;">
                            {{ movie.name }}
                        </h6>      
                    </div>

                </div>
                <br>

                <div class = "section_separator">
                    REVIEW
                </div>
                <br>

                <div id = "section_review">
                    {{ movie.review }}.
                </div>
                <br>

                <div class = "section_separator">
                    SCORES
                </div>
                <br>

                <div id = "section_scores">

                    <div style = "margin-left: 10%;">
                        <table style = "height: 20%;">
                            <tbody>
                                <tr>
                                    <td class = "feature">Cinematography</td>
                                    <td class = "score"></td>
                                </tr>
                                <tr>
                                    <td class = "feature">Acting</td>
                                    <td class = "score"></td>
                                </tr>
                                <tr>
                                    <td class = "feature">Editing</td>
                                    <td class = "score"></td>
                                </tr>
                                <tr>
                                    <td class = "feature">Custom</td>
                                    <td class = "score"></td>
                                </tr>
                                <tr>
                                    <td class = "feature">Music</td>
                                    <td class = "score"></td>
                                </tr>
                                <tr>
                                    <td class = "feature">Screenplay</td>
                                    <td class = "score"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table style = "height:20%">
                            <tbody>
                                <tr>
                                    <td class = "general">Our Score</td>
                                    <td class = "icon_score"></td>
                                </tr>
                                <tr>
                                    <td class = "general"><img class = "icons" src = "/media/icons/RottenTomatoesIcon.png"></td>
                                    <td class = "icon_score"></td>
                                </tr>
                                <tr>
                                    <td class = "general"><img class = "icons images" src = "/media/icons/ImdbIcon.png"></td>
                                    <td class = "icon_score"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>

                <div class = "section_separator">
                    CASTING
                </div>
                <br>
            
                <div id = "section_casting" style = "margin-top: 1%">
                    {% for actor in movie.actors.all %}
                    <div class = "images" style = "width: 10%;height: auto;">
                        <a href = "{% url 'ActorsDetail' actor.id %}">
                            {% if actor.image %}
                                <img src="{{ actor.image.url }}" style="width: 100%; height: auto">
                            {% else %}
                                <img src="/media/actor_image/ProfilePic.png" style="width: 100%; height: auto">
                            {% endif %}
                        </a>
                        <figcaption style = "text-align: center;"> {{ actor.name }} </figcaption>
                    </div>
                    {% endfor %}
                </div>
                <br>

                <div class = "section_separator">
                    SCENES
                </div>
                <br>

                <div id = "section_scenes">
                    {% for scene in movie.scene_movie_set.all %}
                    <div class = "scenes images" style = "width: 30%;height: 100%;">
                        <img src="{{ scene.image.url }}" style="width: 100%;height: 100%;">
                        <figcaption style = "text-align: center;"> {{ scene.description }} </figcaption>
                        <div class="overlay">
                            {{ scene.caption }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                
                <div class = "section_separator">
                    QUOTES
                </div>
                <br>

                <div id = "section_quotes">

                    {% for quote in movie.quote_movie_set.all %}
                        <div class = "quotes">
                            <div>{{ quote.quote }}</div>
                            <div class = "quotes_caption">- {{ quote.character.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            </div>

        </div>

        <div id = "bottom">
        </div> 
    </div>
    

{% endblock %}

{% block scripts %}

<script src = "{% static 'blog/js/jquery.js' %}"></script>

{{ movie.scores_json|json_script:'scores_json' }}
{{ movie.icons_scores_json|json_script:'icons_scores_json' }}

<script>

    var score_bar = function(bar_color,column,json_data){

        let features = Object.keys(json_data)

        for (let cell = 0; cell < column.length; cell++ )
        {
            let score = json_data[features[cell]]
            $(column[cell]).append($('<div class = "images">'+score+'%</div>')
                                .css({
                                    "border":"1px solid black",
                                    "height":"20px",
                                    "width":"90%",
                                    "margin-left":"5px",
                                    "text-align":"center",
                                    "background":"linear-gradient(to right, "+ bar_color +" 0" + score + "%,white " + score + "% 100%)"
                                })
                                )
        }
    }

    // accesing color of the page
    const page_color = getComputedStyle(document.documentElement).getPropertyValue('--page-color')

    var scores = jQuery.parseJSON($("#scores_json").text());
    var score_column = $(".score")
    
    var icon_scores =jQuery.parseJSON($("#icons_scores_json").text());
    var icon_score_column = $(".icon_score")

    score_bar(page_color,score_column,scores)
    score_bar(page_color,icon_score_column,icon_scores)

</script>

{% endblock %}