{% extends "blog/header.html" %}
{% load static %}
{% block styles %}

    {{ block.super }}

    <style>
        #parent{width: 100%;}
    </style>
    
{% endblock %}

{% block content %}

<div id = "webpage">
    
    {{ block.super }}

    <div id = "page">

        <div id = "parent">

            <div class = "section_separator">
                REGISTER
            </div>
            <br>
            
            <div>
                <form method = "POST">{% csrf_token %}
                    <label for = "user">User</label>
                    <input name = "user" type = "text">
                    <br><br>

                    <label for = "email">Email</label>
                    <input name = "email" type = "email">
                    <br><br>

                    <label for = "password">Password</label>
                    <input name = "password" type ="password">
                    <br><br>

                    <label for = "password">Re - Password</label>
                    <input name = "password" type ="password">
                    <br><br>

                    <label for = "password">Accept Terms & Conditions</label>
                    <input name = "password" type ="checkbox">

                    <br><br>
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>

    <div id = "bottom">
    </div> 
</div>

{% endblock %}
