{% extends "blog/header.html" %}
{% load static %}
{% block styles %}

    {{ block.super }}
<style>
     #parent{width: 100%;}
</style>
{% endblock %}

{% block content %}

<div id = "webpage">
    
    {{ block.super }}

    <div id = "page">
        <div id = "parent">
            <div class = "section_separator">
                        Succesful Registration
            </div>
            <br>
            
            <div>
            
                <p>
                     Now you can subscribe to all the kinds of letters and articles that are published. Also to 
                     notifications to review posts.
                </p>
                <p>Link to letters suscription</p>
            </div>
        </div>
    </div>

    <div id = "bottom">
    </div> 
</div>

{% endblock %}
